{% extends 'base.html' %}
{% block title %}Teacher List{% endblock %}

{% block body_block %}
    <div class="page-content">

        <div class="col-lg-12">
             {% if teacher_list %}
            <div class="content-panel">
            <h4 style="text-align: center; font-weight: bold">
                Teacher list
            </h4>
                    <section id ='no-more-tables'>
                        <table class="table table-bordered table-striped table-condensed cf">
                            <thead class='cf'>
                            <tr>
                              <th>Student Name</th>
                              <th>Student Role No</th>
                              <th>Student's Father Name</th>
                              <th>Student's Mother Name</th>
                              <th>Primary Phone Number</th>
                              <th>Seconday Phone Number</th>
                              <th>Update Profile</th>
                            </tr>
                            </thead>
                            <tbody>
                              {% for student_detail in student_list %}
                                <tr>
                                  <td>{{ student_detail.name }}</td>
                                  <td>{{student_detail.student_role_no}}</td>
                                  <td>{{ student_detail.father_name }}</td>
                                  <td>{{ student_detail.mother_name }}</td>
                                  <td>{{ student_detail.parents_primary_phone_number }}</td>
                                  <td>{{ student_detail.secondary_phone_number }}</td>
                                  <td><a class="btn btn-primary" href="{% url 'student:student_edit' pk=student_detail.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                        </section>
                        {% if is_paginated %}
                            <ul class="pagination">
                              {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                              {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                              {% endif %}
                              {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                              {% endfor %}
                              {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                              {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                              {% endif %}
                            </ul>
                          {% endif %}
                  </div>
                {% else %}
                <h4 style="text-align: center; font-weight: bold" > No Record found yet!</h4>
                 {% endif %}
               </div>
     </div>



{% endblock %}
