{% extends 'base.html' %}
{% block title %}Admin Profile{% endblock %}
{% block body_block %}


<div class="page-content">
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'teacher:teacher_list' %}">View All</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>{{ student_detail.name }}</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Student Role No</th>
                            <th>Student's Father Name</th>
                            <th>Student's Mother Name</th>
                            <th>Primary Phone Number</th>
                            <th>Seconday Phone Number</th>
                            <th>Update Profile</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ student_detail.name }}</td>
                                <td>{{student_detail.student_role_no}}</td>
                                <td>{{ student_detail.father_name }}</td>
                                <td>{{ student_detail.mother_name }}</td>
                                <td>{{ student_detail.parents_primary_phone_number }}</td>
                                <td>{{ student_detail.secondary_phone_number }}</td>
                                <td><a class="btn btn-primary" href="{% url 'student:student_edit' pk=student_detail.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>


        </div>


</div>
{% endblock %}
