{% load static %}

<script src="{%static 'js/angular.js'%}"></script>
<script src="{%static 'js/angular-route.js'%}"></script>
<script src="{%static 'js/angular-cookies.js'%}"></script>
<script src="{%static 'js/skoolmanagement.js'%}"></script>
<script src="{%static 'js/skoolmanagement.config.js'%}"></script>
<script src="{%static 'js/skoolmanagement.routes.js'%}"></script>
<script src="{%static 'js/account/account.module.js'%}"></script>
<script src="{%static 'js/account/services/account.service.js'%}"></script>

<script src="{%static 'js/account/controllers/register.controller.js'%}"></script>
<script src="{%static 'js/account/controllers/login.controller.js'%}"></script>
